<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../css/style.css">
    <title>Мастер маникюра - Мария | Записаться | Санкт-Петербург</title>
</head>
<body>
    <header>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carouselData">
                  <div class="container h100">
                    <div class="dataslide">
                      <div class="textslide">
                        <h1>Требуются модели на маникюр с покрытием гель-лак</h1>
                        <p>от 650 руб.</p>
                      </div>
                      <a href="" id="write" class="btn btn-danger carouselbut">Записаться</a>
                    </div>
                  </div>
                </div>
                <img class="d-block w-100" src="../img/1.png" alt="First slide">
              </div>
              <div class="carousel-item">
                  <div class="carouselData">
                    <div class="container h100">
                      <div class="dataslide">
                        <div class="textslide">
                          <h1>Акция:</h1>
                          <p>Приведи подругу и получи маникюр с покрытием гель-лак в подарок</p>
                          <p>Подробности у мастера</p>
                        </div>
                        <a href="tel:+79233486234" id="contact" class="btn btn-danger carouselbut">Позвонить</a>
                      </div>
                    </div>
                  </div>
                  <img class="d-block w-100" src="../img/1.png" alt="First slide">
                </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
          
    </header>
    <main>
        <h1 class="card-title">Новости и новинки</h1>
        <div class="container">
          <div class="row">
            <% for ( var i = data.length; i > 0; i-- ) { %>
              <div id="koko" class="col-sm">
                <div class="card">
                    <img id="img" class="card-img-top" src="<%= data[i-1].img%>" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><%= data[i-1].name%></h5>
                      <p class="card-text"><%= data[i-1].text%></p>
                      <a  href="<%= data[i-1].hrefBut%>" class="btn btn-danger"><%= data[i-1].nameBut%></a>
                    </div>
                  </div>
                </div>
              <% } %>
            
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="card" id="write">
                <div class="cardInput">
                  <h3 class="card-title">Введите данные и нажмите "Записаться"</h3>
                  <form class="formSend">
                    <div class="inputsText">
                      <p class="card-title left" for="username">Ваше имя: <span class="red-star" >*</span></p>
                      <input type="text" class="inputText" name="username" id="username" placeholder="Петрова Александра Ивановна" />
                      <p class="card-title left" for="theDate">Желаемая дата посещения: <span class="red-star" >*</span></p>
                      <input type="date" class="inputText" name="theDate" id="theDate" />
                    
                  
                      <p class="card-title left" for="tel">Номер телефона: <span class="red-star" >*</span></p>
                      <input type="tel" class="inputText" name="tel" id="tel"   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="+7 (999) 999-99-00" />
                      <p class="card-title left" for="inst">Ссылка на Ваш профиль в vk.com или Instagram: <span class="red-star" >*</span></p>
                      <input type="text" class="inputText" name="inst" id="inst" placeholder="instagram.com/user" />
                  
                      <p class="card-title left" for="message">Комментарий:</p>
                      <input type="text" class="inputText" name="message" id="message" placeholder="Хочу единорога на один пальчик" />

                      <div class="recap">
                          <div class="g-recaptcha" data-sitekey="6LdgXWcUAAAAADq4vGIGSg5e2iOBqV6ANDosKiad"></div>
                      </div>
                      <h6 id="rules" class="card-title">Нажимая кнопку “Записаться”, вы даёте согласие на обработку своих персональных данных</h6>
                      <input type="button" id="send" class="btn btn-danger" value="Записаться" name="sub_but" />
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
    <footer>
      <div class="container footer">
        <div class="cont row">
          <div class="tel columphone colum" >
              <span>
                <svg id="Shape_21"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="19px" height="21px">
                <path fill-rule="evenodd"  opacity="1" fill="rgb(241,80,69)"
                d="M18.675,17.024 L14.399,13.440 C14.056,13.152 13.557,13.165 13.223,13.468 L11.852,14.713 C11.824,14.737 11.797,14.756 11.772,14.768 C11.588,14.852 10.785,14.888 8.174,11.830 C7.069,10.537 6.387,9.582 6.027,8.826 C5.835,8.422 5.652,7.900 5.868,7.704 L7.239,6.460 C7.574,6.156 7.648,5.648 7.415,5.260 L4.511,0.433 C4.371,0.200 4.137,0.043 3.872,0.004 C3.607,-0.035 3.338,0.047 3.137,0.231 L1.766,1.475 C0.231,2.868 -0.332,5.151 0.181,7.903 C0.660,10.474 2.038,13.194 4.061,15.564 C7.836,19.985 12.782,22.019 16.088,20.510 C16.542,20.303 16.958,20.030 17.325,19.698 L18.696,18.454 C18.897,18.271 19.011,18.006 19.007,17.731 C19.004,17.455 18.883,17.196 18.675,17.024 Z"/>
                </svg>
              </span>
              <a href="tel:+79233486234" id="contact" title="Позвонить">+7 (923) 348-62-34</a>
          </div>
          <div class="email columphone colum">
              <span>
                <svg id="Shape_22"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="23px" height="17px">
                <path fill-rule="evenodd"  opacity="1" fill="rgb(241,80,69)"
                d="M21.214,-0.003 L1.794,-0.003 C0.808,-0.003 0.002,0.807 0.002,1.798 L0.002,15.199 C0.002,16.189 0.809,17.000 1.794,17.000 L21.213,17.000 C22.199,17.000 23.005,16.189 23.005,15.199 L23.005,1.798 C23.005,0.807 22.199,-0.003 21.214,-0.003 ZM20.250,13.363 C20.500,13.599 20.512,13.994 20.278,14.245 C20.156,14.376 19.990,14.442 19.825,14.442 C19.672,14.442 19.520,14.386 19.400,14.273 L14.303,9.464 L12.097,11.627 C11.977,11.745 11.820,11.804 11.664,11.804 C11.511,11.804 11.358,11.748 11.239,11.635 L8.721,9.259 L3.616,14.264 C3.495,14.383 3.339,14.442 3.182,14.442 C3.021,14.442 2.860,14.378 2.738,14.253 C2.499,14.006 2.504,13.612 2.749,13.371 L7.815,8.405 L2.758,3.634 C2.508,3.398 2.496,3.003 2.730,2.752 C2.965,2.500 3.357,2.489 3.607,2.724 L11.656,10.317 L19.392,2.732 C19.637,2.491 20.030,2.497 20.269,2.743 C20.509,2.990 20.503,3.385 20.258,3.625 L15.193,8.592 L20.250,13.363 Z"/>
              </svg>
              </span>
              <a href="mailto:sendsender@ro.ru" id="contact" title="Написать">sendsender@ro.ru</a>
            </div>
        </div>
        <div class="soc row">
          <div class="colum">
            <a href="https://vk.com/krasnail124" title="vk.com">
              <svg 
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="31px" height="18px">
              <path fill-rule="evenodd" opacity="1" fill="rgb(241,80,69)"
              d="M15.174,17.744 L17.027,17.744 C17.027,17.744 17.586,17.679 17.873,17.370 C18.136,17.085 18.127,16.549 18.127,16.549 C18.127,16.549 18.091,14.045 19.245,13.677 C20.383,13.313 21.844,16.098 23.392,17.168 C24.563,17.978 25.452,17.800 25.452,17.800 L29.593,17.744 C29.593,17.744 31.758,17.608 30.731,15.892 C30.647,15.751 30.133,14.624 27.653,12.305 C25.056,9.878 25.404,10.270 28.532,6.072 C30.436,3.515 31.197,1.953 30.959,1.285 C30.733,0.647 29.332,0.816 29.332,0.816 L24.670,0.845 C24.670,0.845 24.325,0.798 24.068,0.954 C23.818,1.104 23.657,1.457 23.657,1.457 C23.657,1.457 22.919,3.434 21.935,5.118 C19.860,8.668 19.030,8.857 18.690,8.635 C17.901,8.122 18.098,6.570 18.098,5.471 C18.098,2.029 18.617,0.593 17.089,0.223 C16.583,0.100 16.210,0.020 14.913,0.005 C13.251,-0.013 11.843,0.009 11.046,0.402 C10.515,0.665 10.106,1.247 10.356,1.282 C10.664,1.323 11.361,1.470 11.731,1.979 C12.209,2.634 12.192,4.103 12.192,4.103 C12.192,4.103 12.467,8.154 11.551,8.658 C10.923,9.003 10.061,8.296 8.210,5.075 C7.262,3.427 6.546,1.602 6.546,1.602 C6.546,1.602 6.409,1.260 6.162,1.078 C5.863,0.858 5.446,0.787 5.446,0.787 L1.016,0.816 C1.016,0.816 0.351,0.835 0.107,1.127 C-0.110,1.385 0.090,1.920 0.090,1.920 C0.090,1.920 3.558,10.095 7.484,14.213 C11.086,17.991 15.174,17.744 15.174,17.744 L15.174,17.744 L15.174,17.744 Z"/>
              </svg>
            </a>
          </div>
          <div class="colum bord">
            <a href="https://www.youtube.com" title="YouTube">
              <svg 
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="36px" height="23px">
              <path fill-rule="evenodd" opacity="1" fill="rgb(241,80,69)"
              d="M35.374,3.699 C34.933,1.945 33.367,0.649 31.481,0.456 C27.016,-0.002 22.496,-0.004 17.998,-0.002 C13.498,-0.004 8.978,-0.002 4.513,0.456 C2.628,0.649 1.063,1.945 0.622,3.699 C-0.005,6.200 -0.012,8.929 -0.012,11.504 C-0.012,14.077 -0.012,16.807 0.615,19.308 C1.055,21.063 2.621,22.358 4.506,22.551 C8.971,23.009 13.491,23.010 17.991,23.009 C22.491,23.010 27.010,23.009 31.474,22.551 C33.359,22.358 34.925,21.063 35.366,19.308 C35.994,16.807 35.996,14.077 35.996,11.504 C35.996,8.929 36.001,6.200 35.374,3.699 ZM13.345,16.628 C13.345,12.975 13.345,9.362 13.345,5.710 C17.162,7.535 20.952,9.349 24.793,11.185 C20.964,13.006 17.171,14.809 13.345,16.628 Z"/>
              </svg>
            </a>
          </div>
          <div class="colum">
            <a href="https://www.instagram.com/krasnail124/" title="Instagram">
              <svg 
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="31px" height="30px">
              <path fill-rule="evenodd" opacity="1" fill="rgb(241,80,69)"
              d="M15.492,0.012 C11.282,0.012 10.753,0.032 9.099,0.102 C7.449,0.176 6.323,0.428 5.337,0.798 C4.317,1.182 3.452,1.693 2.590,2.528 C1.728,3.360 1.199,4.197 0.801,5.183 C0.417,6.137 0.155,7.225 0.081,8.822 C0.007,10.420 -0.012,10.932 -0.012,15.004 C-0.012,19.073 0.006,19.583 0.081,21.182 C0.157,22.779 0.419,23.867 0.802,24.821 C1.198,25.807 1.728,26.643 2.590,27.477 C3.451,28.309 4.316,28.824 5.335,29.207 C6.321,29.577 7.448,29.831 9.098,29.903 C10.752,29.976 11.280,29.993 15.490,29.993 C19.701,29.993 20.228,29.976 21.881,29.903 C23.532,29.831 24.660,29.577 25.646,29.207 C26.665,28.824 27.529,28.309 28.390,27.477 C29.253,26.643 29.783,25.807 30.180,24.821 C30.561,23.867 30.823,22.779 30.900,21.182 C30.975,19.583 30.994,19.073 30.994,15.004 C30.994,10.932 30.975,10.420 30.900,8.822 C30.823,7.225 30.561,6.137 30.180,5.183 C29.783,4.197 29.253,3.360 28.390,2.528 C27.528,1.693 26.666,1.182 25.645,0.798 C24.657,0.428 23.530,0.176 21.879,0.102 C20.226,0.032 19.699,0.012 15.487,0.012 L15.492,0.012 ZM14.101,2.714 C14.514,2.714 14.975,2.714 15.492,2.714 C19.632,2.714 20.122,2.729 21.757,2.799 C23.268,2.866 24.088,3.111 24.635,3.315 C25.359,3.587 25.875,3.912 26.417,4.438 C26.959,4.962 27.295,5.460 27.577,6.161 C27.789,6.689 28.042,7.483 28.111,8.944 C28.185,10.524 28.201,10.999 28.201,14.999 C28.201,19.002 28.185,19.474 28.111,21.055 C28.042,22.516 27.789,23.310 27.577,23.838 C27.296,24.538 26.959,25.036 26.417,25.559 C25.874,26.084 25.359,26.410 24.635,26.681 C24.089,26.887 23.268,27.130 21.757,27.199 C20.123,27.268 19.632,27.285 15.492,27.285 C11.353,27.285 10.862,27.268 9.228,27.199 C7.716,27.130 6.896,26.887 6.349,26.681 C5.625,26.410 5.109,26.084 4.566,25.559 C4.023,25.036 3.688,24.537 3.406,23.837 C3.193,23.308 2.941,22.515 2.872,21.054 C2.798,19.474 2.783,19.000 2.783,14.996 C2.783,10.992 2.798,10.521 2.872,8.941 C2.941,7.479 3.193,6.685 3.406,6.157 C3.687,5.458 4.023,4.957 4.566,4.432 C5.109,3.907 5.625,3.583 6.349,3.312 C6.895,3.105 7.716,2.860 9.228,2.793 C10.658,2.731 11.212,2.714 14.101,2.709 L14.101,2.714 ZM23.768,5.202 C22.740,5.202 21.907,6.007 21.907,7.000 C21.907,7.993 22.740,8.799 23.768,8.799 C24.795,8.799 25.628,7.993 25.628,7.000 C25.628,6.007 24.795,5.202 23.768,5.202 L23.768,5.202 ZM15.492,7.306 C11.095,7.306 7.531,10.751 7.531,15.004 C7.531,19.254 11.095,22.700 15.492,22.700 C19.889,22.700 23.452,19.254 23.452,15.004 C23.452,10.751 19.888,7.306 15.492,7.306 L15.492,7.306 ZM15.492,10.005 C18.346,10.005 20.660,12.242 20.660,15.004 C20.660,17.763 18.346,20.000 15.492,20.000 C12.638,20.000 10.324,17.763 10.324,15.004 C10.324,12.242 12.638,10.005 15.492,10.005 Z"/>
              </svg>
            </a>
          </div>
      <div id="soc">
          </div>
        </div>
        <div class="policy"></div>
      </div>
    </footer>
    

    <!-- VK Widget -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?157"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="../js/main.js"></script>
    <script src="../js/date.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../js/jquery.maskedinput.min.js"></script>
    

    <div class="vk" id="vk">
        <div class="visible-desktop" id="vk_community_messages"></div>
        <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 135943780, {expandTimeout: "1000",disableExpandChatSound: "1",tooltipButtonText: "Есть вопрос?"});
        </script>
      </div>
</body>
</html>